<div class="row d-flex justify-content-center">
  <div class="col-xl-6 col-lg-9 col-md-11">
   <div class="card m-4 container-fluid p-0 card-shadows">
			<div class="card-header">
      
        <h1 class="mx-2">Sign Up</h1>
    
          <% if @user.present? %>
          <% end %>
      </div>
      <br>
 <div class="card-body"> 
        <% if @user.errors.any? %>
          <% @user.errors.full_messages.each do |msg| %>
              <%  flash.now[:danger] = msg %>
          <% end %>
        <% end %>

        <%= simple_form_for(@user) do |f| %>
            <div class="form-group mx-2 ">
              
            <%= f.input :username %>  
              <div class="flex-input">
                <div class="name-input"> <%= f.input :first_name%> </div>
                <div class="name-input">  <%= f.input :last_name%> </div>
              </div>

            <div class="flex-input">
              <div class="name-input"> <%= f.input :wallet%> </div>
              <div class="name-input"><%= f.input :city%></div>
            </div> 
          
              <%= f.input :email%>

                <div class="flex-input">
                  <div class="name-input"> <%= f.input :password %> </div>
                  <div class="name-input"> <%= f.input :password_confirmation %> </div>
                </div>
         
            <%= f.input :image, label: "Profile picture" %> 
            <%= f.submit({class: "btn btn-primary"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>