

<div class="mx-2">


<div class="card" >
  <div class="card-body">
   
    <%= image_tag @user.image.variant(resize: '300X300') if @user.image.attached?%>
    <hr>
    <h4 class="card-title"><%= @user.first_name.titleize %> <%= @user.last_name.titleize %></h4>
    <p class="card-text"> Username: <%= @user.username.titleize %></p>
    <p class="card-text"> Wallet: $<%= @user.wallet %></p>
    <p class="card-text"> Full Name: <%= @user.full_name %></p>
    <p class="card-text"> Email: <%= @user.email %></p>
    <p class="card-text"> City: <%= @user.city %></p>

   <a href="<%=funded_deeds_path%>"
    class="btn btn-primary"> Funded Deeds <span class="badge badge-light">  <%= @user.funds.count%></span></a>

    


    <a href="<%=created_deeds_path%>"
    class="btn btn-secondary m-2"> Created Deeds <span class="badge badge-light"> <%= @user.deeds.count%> </span></a>

  
  </div>
</div>

<br>
<div class="mx-2">
<%= link_to('Edit Profile', edit_user_path(@user), class: "btn btn-outline-primary")%>
</div>
