
<body id="user-profile">
 <div class="jumbotron-profile">
 <div class="col-xl-6 col-lg-9 col-md-11">
 
  <div class="card" style="width: 35rem;" id ="jumbotron-cards">

    <div class="row">
        <div class="col-sm-8">
           <h2 class="card-title m-4"><%= @user.first_name.titleize %> <%= @user.last_name.titleize %></h2>
        </div>
        <div class="col-sm-4 ">
          <div class="pull-right mt-4 mr-4"> 
             <%= image_tag @user.image.variant(resize: '200X200'), :class => " img-profile  img-responsive "  if @user.image.attached?%>
          </div>
        </div>
    </div>
    <div class="card-body ">
        <hr>
        <h5 class="card-text"> Username: <%= @user.username.titleize %></h5>
        <h5 class="card-text"> Wallet: $<%= @user.wallet %></h5>
        <h5 class="card-text"> City: <%= @user.city %></h5>

       <a href="<%=funded_deeds_path%>"
        class="btn btn-primary mr-2"> Funded Deeds <span class="badge badge-light">  <%= @user.funds.count%></span></a>

        <a href="<%=created_deeds_path%>"
        class="btn btn-secondary"> Created Deeds <span class="badge badge-light"> <%= @user.deeds.count%> </span></a>

        <%= link_to('Edit Profile', edit_user_path(@user), class: "btn btn-outline-primary m-2")%>

    </div>
  </div>
</div>
</div>
