
<div class="container">  

  <div class="row justify-content-md-center" id="deed-index">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @deed.title %></h5>
    <p class="card-text"><%= @deed.body %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Asking for $ <%= @deed.money_required%></li>
    <li class="list-group-item">Raised $ </li>
    <li class="list-group-item">City: <p><%= @deed.location %></p></li>
    <li class="list-group-item">Author:<%= @deed.user.full_name %> </li>

  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Edit</a>
  </div>

</div>
 
</div>


</div>
<% if can? :crud, @deed %>
    <div class="ml-auto">
    <%= link_to('Delete', deed_path(@deed), method: :delete, class: " m-2 btn btn-info", data: {confirm: "Are you sure?"}) %>

    <div class="ml-auto">
    <%= link_to('Edit',  edit_deed_path(@deed), class: " m-2 btn btn-info") %>

<%end %>
</div>


