<!DOCTYPE html>
<html>
  <head>
    <title>SmallChange</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

  </head>

 <body>
    <header>
    <nav class="navbar sticky-top navbar-expand-lg bg-primary">
    
    <i class="fas fa-2x fa-hand-holding-usd small-change-icon"> </i>
    <%= link_to("Small Change ", root_path, class: "nav-link") %>
    <%= link_to("Deeds ", deeds_path, class: "nav-link") %>
    <%= link_to("Funded Deeds ", fully_funded_path, class: "nav-link") %>
    <%= link_to("Make Deed ", new_deed_path, class: "nav-link") %>
  
      <% if user_signed_in? %>
        <div class="right-navbar">
       <%= link_to current_user.username.capitalize, current_user, class: "nav-link" %>
        <%= link_to "Logout", sessions_path, class: "nav-link", method: :delete,
                  data: {confirm: "are you sure you want to log out?"}%>
      <% else %>
    
        <%= link_to  "Login" , new_sessions_path %> |
        <%= link_to "Sign Up" , new_user_path %>
  
    </div>
      <% end %>
      <hr>

    </nav>
    </header>

 <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>



    <%= yield %>

  </body>
</html>
